
    @{
        ViewBag.Title = "Home Page";
    }

    


<div class="jumbotron">
    <h1>Furniture e-shop</h1>
    <p class="lead">Hello! Welcome to my e-shop.</p>
</div>
    

    <div class="col-md-4" align="center">
        <img src="~/Content/rose gold bedroom decor.jpg" />
    </div>
    

